<div class="text-center">
    <h4>@Title</h4>
    <div class="spinner-grow text-info" role="status" style="width: 10rem; height: 10rem;">
        <span class="sr-only"></span>
    </div>
</div>

@code  {
    [Parameter]
    public string Title { get; set; }
}